/* .main{
    width: 150px;
    height: 150px;
    background: red;
    float: left;
    margin: 5px;
}

.main2{
    width: 150px;
    height: 150px;
    background: red;
    float: left;
    margin: 5px;
}

.main3{
    width: 150px;
    height: 150px;
    background: blue;
    /* float: left; */
    /* margin: 5px; */
/* } */


/* p::first-letter {
    font-weight: bold;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
  } */

.myBody{
    background-image: url('https://tuxpaint.org/gallery/images/space-background-by-miyagi-andel-miyagi_andel.png');
}

  .main{
    width: 150px;
    height: 150px;
    /*background: red;
    */float: left;
    margin: 5px;
    position: relative;
    left: 300px;
    top: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: rotate(203deg);
    transition: 0.5;
    -webkit-transition: 0.5;
    -moz-transition: 0.5;
    -ms-transition: 0.5;
    -o-transition: 0.5;
}

.main img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main::before{
    content: "";
    background-image: url("https://media.tenor.com/SqJHatCJ40cAAAAj/mars.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    /* background: blue; */
    float: left;
    position: absolute;
    top: 85px;
    left: -80px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;


}


.main::after{
    content: "";
    /* background: rgb(30, 212, 24); */
    background-image: url("https://media.tenor.com/v9XIZ3ZgKvEAAAAM/moon-earths-moon.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    
    float: left;
    position: absolute;
    top: 55px;
    right: -80px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.flag{
    /* width: 100%;
    height: 70px;
    background: red;
    float:left;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 70px solid blue;
    border-bottom: 70px solid green; */
}

.myText::before{
    content: "\f2ba";
    font-family: "FontAwesome";
    color: red;
}

.myText::after{
    content: " Ismayilov Akshin.";
    color: blue;
    font-size: 30px;
}